

.side {
	align-self: start;
	//side--mobile
	&--mobile {
		position: absolute;
		// top: 10px;
		width: calc(100% - 20px);
		min-height: calc(100vh - 120px);
		box-shadow: 0px -4px 30px rgba(0, 0, 0, 0.1);
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		z-index: 9999;
	}
}

.iconBtn:nth-of-type(1) svg {
	transform: rotate(90deg);
}

.iconBtn:nth-of-type(2) svg {
	transform: rotate(-90deg);
}

.allEvents {
	display: grid;
	gap: 15px;
	scroll-behavior: smooth; /* Плавный скролл */

}
