.containerChangePass{
    position: relative;
    background-color: #fff;
    border-radius: 22px;
    padding: 26px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.formInputChangePassword {
    padding: 15px;
    margin-right: 5px;
}
.formInputChangePassword +  svg{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.formInputChangePassword +  svg:hover{
    cursor: pointer;
}
.btnChangePassword{
    padding: 10px;
}