.contLabel {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 5px;

	&> :last-child {
		padding: 5px;

		&>span {
			font-size: 12px;
		}
	}
}

.labels {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.authController{
	display: flex;
	gap: 20px;
}

.cardBody {
	display: grid;
	gap: 12px;
    margin-top: 25px;
}

.inputIcon{
	position: absolute;
	right: 10px;
	top: 58%;
	&:hover{
		cursor: pointer;
	}		
}

.error > path {
	fill: red;
}

.inputIcon{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0,-50%);
}

.loginButtonLabel{
	text-align: center;
	margin-bottom: 20px;
}
.authInput {
	padding: 18px 20px;
	@media (max-width: 768px) {
		padding: 18px 10px;
	}
}