@import '../../../../styles/mixin.scss';

.avatar{
    // avatar__container
    &__container{
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        z-index: 2;
        // @include adaptiv-value(width,15, 0, 1);
		// @include adaptiv-value(height,15, 0, 1);
        // @media (max-width:1280px) {
        //     @include adaptiv-value(width,12, 0, 1);
		// 	@include adaptiv-value(height,12, 0, 1);
		// }
        // @media (max-width:1160px) {
        //     @include adaptiv-value(width,10, 0, 1);
        //     @include adaptiv-value(height,10, 0, 1);
        // }
        // @media (max-width:992px) {
		// 	@include adaptiv-value(width,15, 15, 1);
		//     @include adaptiv-value(height,15, 15, 1);
		// }
        //avatar__container--image
        &--image {
            width: 80%;
            height: 80%;
            object-fit: cover;
            border-radius: 50%;
        }   
    
        //avatar__container--round
        &--round {
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
}