@import '../../../../../styles/mixin.scss';

.gib {
	// width: 58.11%;
	aspect-ratio: 1 / 1;
	background: #ffffff;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	//gib__background-logo
	&__background-logo{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%) scale(1.7);
		z-index: 11;
		opacity: .3;
		pointer-events: none;
	}
	//gib__container
	&__container {
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;
		z-index: 2;
			width: 100%;
				padding: 0 20px;
	}

	// gib__btn-action-house
	&__btn-action-house {
		color: var(--text-color);
		font-weight: 500;
		padding: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
		@include adaptiv-value(margin-left, 5, 0,2);
		@include adaptiv-value(margin-right, 5, 0,2);
		@include adaptiv-value(width, 20, 0,2);
		@include adaptiv-value(height, 20, 0,2);
		@include adaptiv-font(20, 2);
		padding: 0;

		&::after {
			content: '';
			z-index: -1;
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: #D6DBF5;
		}

		&--disabled {
			position: relative;
			width: 20px;
			height: 20px;

			&::after {
				display: none;
			}
		}
	}

	//gib__currency
	&__currency {
		position: relative;
		// padding: 4px;
		// height: 14px;
		// border-radius: 50%;
		padding: 3px;
		z-index: 1;
		margin-left: 3px;
		margin-right: 3px;

		&::after {
			z-index: -1;
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: #000000;
		}

		&>div>svg {
			height: 9px !important;
			width: auto !important;
		}
	}

	//gib-bg 
	&-bg {
		background: #ffffff;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		border-radius: 5%;
		inset: 0;
		@include adaptiv-value(padding, 15, 0,2);

		display: grid;
		grid-template-rows: auto 1fr;
		overflow-y: auto;

		//gib-bg-exchange
		&-exchange {
			display: flex;
			flex-direction: column;
			padding: 15px;
			border-radius: 10px;
			height: 100%;
		}

		//gib-bg-auction
		&-auction {
			background: #FFEFD3;
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: 1;
			border-radius: 5%;
			inset: 0;
			display: grid;
			grid-template-rows: auto 1fr;
			padding-bottom: 10px;

		}
	}

	// gib__header
	&__header {
		width: 100%;
		background: #ffffff;
		position: relative;
		padding: 0 15px;
		display: grid;
		grid-template-rows: auto 1fr;
		flex: 0 0 75px;

		// gib__header-auction
		&-auction {
			width: 100%;
			height: 100%;
			padding: 15px;

			//gib__header-auction--place-bet
			&--place-bet {
				padding: 18px 15px;
				width: 100%;
				height: 100%;
				background-color: #FFEFD3;
			}
		}
	}

	//gib-grid--move
	&-grid--move {
		background: #ffffff;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		border-radius: 5%;
		inset: 0;
		padding: 15px;
		display: grid;
		grid-template-rows: .1fr .1fr 1fr;

	}

	//gib__field-number 
	&__field-number {
		color: #726ced;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
	}

	//gib__title-container
	&__title-container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
		margin-bottom: 20px;
		padding-top: 20px;
		position: relative;
		z-index: 2;
	}

	//gib__title 
	&__title {
		font-family: Manrope;
		font-weight: 400;
		@include adaptiv-font(18, 10);
		// margin-bottom: 20px;
		line-height: 100%;
		letter-spacing: 0%;
		text-align: center;
		vertical-align: middle;
	}

	//gib__content
	&__content {
		font-family: Manrope;
		font-weight: 300;
		@include adaptiv-font(14, 5);
		line-height: 140%;
		text-align: center;
		color: #000000;
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding-bottom: 20px;
		padding-top: 10px;
	}
	//gib__btn-action-place-bet-auction
	&__btn-action-place-bet-auction {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #8D764B;
		padding: 10px;
		border-radius: 7px;
		font-size: 16px;
		font-weight: 500;
		cursor: pointer;
		z-index: 2;
		max-height: 40px;
		margin-top: 15px;
	}

	//gib__input-bet-auction
	&__input-bet-auction {
		position: relative;
		width: 100%;
		margin-top: 15px;
		& input {
			width: 100%;
			min-height: 35px;
			padding: 10px;
			border-radius: 7px;
			border: 1px solid #594A2D;
			background-color: transparent;
			font-size: 14px;

			&:focus-visible {
				outline: none;
				border-color: #594A2D;
			}

			&::placeholder {
				color: #C6AD82;
				font-size: 14px;
			}
		}

		// & button {
		// 	background-color: #726ced;
		// 	color: #ffffff;
		// 	padding: 5px 10px;
		// 	border-radius: 5px;
		// 	font-size: 14px;
		// }
	}

	&__info-card {

		//gib__info-card-label
		&-label {
			display: grid;
			grid-template-columns: 1fr;
			gap: 10px;
			text-align: center;
			margin-bottom: 7px;
		}

		//gib__info-card-labels 
		&-labels {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 10px;
			text-align: center;
			margin-bottom: 7px;
		}

		//.gib__info-card-label-city-name,
		//gib__info-card-label-contry-name 
		&-label-city-name,
		&-label-contry-name {
			font-size: 14px;
			font-weight: 600;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-info {


			//gib__info-card-info-container 
			&-container {
				position: relative;
				// background-color: #E9ECFF;
			}

			//gib__info-card-info-title
			&-title {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				text-align: center;
				align-items: center;
				margin-bottom: 5px;
				font-family: Manrope;
				font-weight: 300;
				@include adaptiv-font(14, 5);

			}

			//game-userForExchangeinfo-board__info-card-info-desc
			&-desc {

				//gib__info-card-info-desc-container 
				&-container {
					display: grid;
					grid-template-columns: 50% 50%;
					position: relative;
					gap: 7px;
				}

				//gib__info-card-info-desc-label 
				&-label {
					display: flex;
					justify-content: space-between;
					align-items: center;
					// text-wrap: wrap;
					font-family: Manrope;
					@include adaptiv-font(12, 6);
					
					font-weight: 300;
					width: 100%;
					
					>p,
					div {
					@include adaptiv-font(12, 2);
						font-weight: 300;
						display: flex;
						align-items: center;
						text-wrap: nowrap;
					}

					&>p:nth-of-type(2) {
						font-weight: 600;
					}

					// gib__info-card-info-desc-labe--houses
					&--houses {
						// width: 15ch;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					//gib__info-card-info-desc-label--btn
					&--btn {
						display: flex;
						justify-content: flex-end;
						align-items: center;
						font-size: 12px;
					}

					//gib__info-card-info-desc-label--auction
					&--auction {
						font-family: Manrope;
						@include adaptiv-font(12, 6);

						font-weight: 500;
						display: block; // или flex/inline-flex, если нужно выравнивание
						white-space: normal; // разрешить перенос текста
						word-wrap: break-word; // если нужно переносить длинные слова
						max-width: 100%; // или фиксированная ширина

						// gib__info-card-info-desc-label--auction-inline-value
						&-inline-value {
							display: inline-flex;
							align-items: center;
							gap: 4px; // пространство между числом и иконкой
							flex-shrink: 0;
						}
					}

				}

			}
		}

		//
		&-footer {

			//gib__info-card-footer-label
			&-label {
				display: flex;
				gap: 5px;
				align-items: center;
				justify-content: center;
			}

			

			//gib__info-card-footer-container-auction
			&-container-auction {
				display: grid;
				grid-template-columns: 1fr auto;
				align-items: center;
				gap: 5px;
				padding: 5px;

				& p {
					font-size: 15px;
					font-weight: 600;
				}

				&::after {
					content: '';
					position: absolute;
					display: block;
					width: 100%;
					height: 50px;
					left: 0;
					background-color: #FADDAA;
					border-radius: 5px;
					z-index: -1;
				}
			}

			//gib__info-card-footer-btn-container 
			&-btn-container {
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: center;
				gap: 5px;
				justify-items: center;
			}

			//gib__info-card-footer-btn 
			&-btn {
				background: #cad0ed;
				padding: 5px;
				border-radius: 5px;
				font-size: 12px;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: baseline;
				gap: 5px;
			}
		}
	}









	// new styles
	// header
	// gib__header-container
	&__header-container {
		width: 100%;
		background: #ffffff;
		position: relative;
		// padding: 0 15px;
		display: grid;
		grid-template-rows: auto 1fr;
		flex: 0 0 50px;
		&--timer{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	// buttons
	&__btns {

		//gib__btns-container 
		&-container {
			position: relative;
			z-index: 9;
			//gib__btns-container--btn-back
			&--btn-back{
				display: flex;
				&> button {
					display: flex;
					gap: 5px;
				}

			}
			//gib__btns-container--btn-two
			&--btn-two {
				grid-template-columns: 50% 50%;
				grid-template-columns: repeat(2, 1fr);
				display: grid;
				gap: 10px;
				padding: 0 15px;
				& button {
					max-height: 46px;
					color: var(--text-color);
					background: #726ced;
					font-size: 16px;
					@include adaptiv-font(16, 3);
					font-weight: 500;
					padding: 15px;
					border-radius: 7px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			//gib__btns-container--btn-one
			&--btn-one {
				grid-template-columns: 1fr;
				display: grid;
				padding: 15px;
				max-height: 70px;
	
				& button:nth-of-type(1) {
					background: #726ced;
					color: #ffffff;
				}
	
				& button {
					font-size: 16px;
					font-weight: 500;
					padding: 15px;
					border-radius: 7px;
				}
				//gib__btns-container--btn-one--full
				&--full {
					grid-template-columns: 1fr;
					display: grid;
					padding: 15px;
					&>button{
						min-height: 36px;
						padding: 0;
					}
				}		
			}		
		}
		//gib__btns--btn-action
		&--btn-action {
			background: #726ced;
			color: #ffffff;
			@include adaptiv-font(16, 8);
			font-weight: 500;
			@include adaptiv-value(padding-top, 10, 5, 1);
			@include adaptiv-value(padding-bottom, 10, 5, 1);
			@include adaptiv-value(padding-left, 15, 5, 1);
			@include adaptiv-value(padding-right, 15, 5, 1);
			@include line-clamp(1, vertical);
			border-radius: 7px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}

	// body
	&__body {
		//gib__body-container 
		&-container {
			border-radius: 10px;
			height: calc(100% - 75px);
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			overflow-x: hidden;
			flex-grow: 1;
			position: relative;
			padding: 10px;
			margin: 0 15px;
		
			//gib__body-container--auction
			&--auction{
				background: #f9c874;
				width: 100%;
				left: -15px;
				// border-radius: 10px;
				// height: calc(100% - 75px);
				display: flex;
				flex-direction: column;
				overflow-y: auto;
				overflow-x: hidden;
				flex-grow: 1;
				position: relative;
				padding: 10px;
				margin: 0 15px;
				//gib__body-container--auction-time
				&-time {
					font-family: Manrope;
					font-weight: 500;
					font-size: 14px;
					line-height: 100%;
					letter-spacing: 0%;
					vertical-align: middle;
					color: #000000;
					margin-bottom: 10px;
					width: 100%;
					text-align: center;
				}
			}
			//gib__body-container--full 
			&--full{
				border-radius: 10px;
				display: flex;
				flex-direction: column;
				overflow-y: auto;
				overflow-x: hidden;
				flex-grow: 1;
				position: relative;
				padding: 10px;
				margin: 0 15px;
			}
			//gib__body-container--place-bet
			&--place-bet {
				border-radius: 0 0 10px 10px;
				height: 100%;
				overflow: auto;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background-color: #FADDAA;
				padding: 15px;

				&::-webkit-scrollbar {
					width: 5px;
				}

				&::-webkit-scrollbar-track {
					border-radius: 99px;
					background: #f1f1f1;
				}

				&::-webkit-scrollbar-thumb {
					border-radius: 99px;
					background: #888;
				}
			}

			// //gib__body-container-wrap 
			&-wrap {
				position: relative;
				padding: 10px;

				//gib__body-container-wrap--full
				&--full {
					position: relative;
					padding: 10px;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}

				//gib__body-container-wrap-auction
				&-auction {
					position: relative;
					padding: 10px;
					height: 100%;
					background-color: transparent;
				}
			}
		}

		//gib__body-desc-container 
		&-desc {
			&-container {

				// gib__body-desc-container--two-section
				&--two-section {
					display: grid;
					grid-template-columns: 46% 45%;
					position: relative;
					gap: 30px;
				}
				//gib__body-desc-container--total-price
				&--total-price{
					margin-top: 50px;
				}
			}
			//gib__body-desc--total-price
			&--total-price{
				display: flex;
				align-items: center;
				font-family: Manrope;
				font-weight: 300;
				font-style: Light;
				font-size: 10.63px;
				line-height: 100%;
				letter-spacing: 0%;
				vertical-align: middle;
				gap: 5px;
			}
		}
	}

	//gib__user-exchange
	&__user-exchange {
		display: grid;
		grid-template-columns: 25px 1fr;
		gap: 10px;
		align-items: center;
		justify-content: center;
		max-height: 32px;

		height: 100%;
		position: relative;

		//gib__user-exchange--container-avatar
		&--container-avatar {
			display: flex;
			overflow: hidden;
			position: relative;
			z-index: 2;
			height: 100%;
			min-height: 32px;
			align-items: center;
			justify-content: center;
		}

		//gib__user-exchange--desc-container
		&--desc-container {
			flex-direction: column;
			display: flex;
			justify-content: center;
			align-items: flex-start;

		}

		//gib__user-exchange--name
		&--name {
			font-family: Manrope;
			font-weight: 700;
			@include adaptiv-font(11, 7);
			line-height: 100%;
			letter-spacing: 0%;
			vertical-align: middle;
			color: rgba(0, 0, 0, 1);
			display: flex;
			align-items: center;
			@include line-clamp(1, vertical);
		}

		//gib__user-exchange--name-desc
		&--name-desc {
			font-family: Manrope;
			font-weight: 300;
			@include adaptiv-font(11, 7);
			line-height: 100%;
			letter-spacing: 0%;
			vertical-align: middle;
			color: rgba(0, 0, 0, 1);
			display: flex;
			align-items: center;
			@include line-clamp(1, vertical);
		}
		//gib__user-exchange--input-success
		&--input-success{
			position: absolute;
			right: -1px;
			top: -1px;
			background-color: #000;
			border-radius: 5px;
			padding: 4px;
		}
		//gib__user-exchange--input-currency
		&--input-currency{
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translate(0, -50%);
		}
		//gib__user-exchange--input-reset
		&--input-reset{
			position: absolute;
			right: -30px;
			top: -2px;
			background-color: #000;
			border-radius: 5px;
			padding: 3px;
		}
		// //gib__user-exchange--input-container
		// &--input-container {
		// 	display: flex;
		// 	align-items: center;
		// 	gap: 5px;
		// 	width: 100%;
		// 	position: relative;

		// 	// gib__user-exchange--input-container-input
		// 	&-input {
		// 		width: 100%;
		// 		height: 24px;
		// 		border-radius: 7px;
		// 		border: 1px solid rgba(129, 138, 184, 1);
		// 		display: flex;
		// 		padding: 2px;
		// 		font-size: 14px;
		// 		font-weight: 500;
		// 		color: #000000;
		// 		background-color: transparent;
		// 		position: relative;

		// 		&>div>input {
		// 			border: none;
		// 			outline: none;
		// 			width: 100%;
		// 			height: 100%;
		// 			background-color: transparent;
		// 			padding: 0 !important;
		// 		}

		// 		&::placeholder {
		// 			font-family: Manrope;
		// 			font-weight: 300;
		// 			font-style: Light;
		// 			font-size: 10.63px;
		// 			line-height: 100%;
		// 			letter-spacing: 0%;
		// 			vertical-align: middle;
		// 		}
		// 	}
		// }
	}

	//gib__info-card-exchange-container 
	&__info-card-exchange-container {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	
	//gib__info-card-exchange-card-container
	&__info-card-exchange-card-container {
		justify-content: space-between;
		display: flex;
		align-items: center;
		flex-direction: row;
		width: 100%;
		padding: 5px 10px;
		background-color: rgba(0, 0, 0, 1); //
		color: rgba(250, 251, 255, 1);
		border-radius: 7px;
		overflow: hidden;
		min-height: 31px;
		& > div{
			display: flex;
			align-items: center;
			flex-direction: row;
			gap: 5px;
			padding-right: 2px;
			font-family: Manrope;
			font-weight: 300;
			font-style: Light;
			font-size: 10.63px;
			@includes adaptiv-font(10.63, 5);
			line-height: 100%;
			letter-spacing: 0%;
			vertical-align: middle;
			& > div {
			}
		}

	}

	
}

.list-player{
	//list-player__container-wrapper
	&__container-wrapper{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;
		width: 100%;
		height: 100%;
		list-style: none;
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
	}
	//list-player__item
	&__item{
		width: 100%;
			height: 65px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			background-color: rgba(233, 236, 255, 0.2);
			border-radius: 10px;
			cursor: pointer;
		
			&:hover {
				background-color: rgba(233, 236, 255, 0.4);
			}
	}
}