.labels {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cardBody {
	display: grid;
	gap: 12px;
    margin-top: 25px;
}

.btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.dublicateCode:hover{
	cursor: pointer;
}
.dublicateCode{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0,-50%);
	font-family: Manrope;
	font-size: 13.7px;
	font-weight: 400;
	line-height: 18.72px;
	text-align: right;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #726CED;

}
.error{
	color: var(--color-error);
}