.quickGameSection {
	max-height: 100%;
	height: 100%;
	width: 100%;
}

.allRoomsCard {
	height: 100%;
}

.quickGamesHeader {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 30px;
	overflow: hidden;
	flex-wrap: wrap;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.flex:nth-of-type(2) {
	justify-content: flex-end;
	@media (max-width: 992px) {
		justify-content: flex-start;
	}
}

.allGames {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 15px;
}

.filtersMenu:hover{
	cursor: pointer;
}
.filtersMenu{
	display: flex;
    gap: 10px;
	padding: 12px 14px;
	border-radius: 9px;
}