@import '../../../../../../styles/mixin.scss';

.gib-footer{
    //gib-footer__container
    &__container{
			// display: grid;
			// grid-template-columns: 55% 40%;
            // @include adaptiv-value(grid-template-columns, 55% 40%, 35% 55%, 4);
            display: flex;
            justify-content: space-between;
			align-items: center;
			// gap: 5%;
            gap: 5px;
			width: 100%;
			border-radius: 10px;
            @include adaptiv-value(padding, 10, 3, 2);
            @media (max-width: 778px) {
                @include adaptiv-value(padding, 10, 8, 2);
            }
    }
    &__desc{
        //gib-footer__desc-container
        &-container{
            display: flex;
            gap: 15px;
            z-index: 99;
            @media (max-width: 1280px) {
                flex-direction: column;
                gap: 0;
            }
            @media (max-width: 778px) {
                flex-direction: row;
                gap: 15px;
            }

        }
        //gib-footer__desc-item
        &-item{
            @include adaptiv-font(14, 5);
            display: flex;
            text-wrap: nowrap;
            align-items: center;
            gap: 3px;
        }
    }
    //gib-footer__btns-container
    &__btns{
        &-container{
            position: relative;
            overflow: hidden
        }
        &-btn{
            //gib-footer__btns-btn--position
            &--position{
                display: flex;
                align-items: center;
                @include adaptiv-font(14, 7);
                display: flex;
                text-wrap: nowrap;
                max-height: 50px;
                @include adaptiv-value(max-height, 50, 10,2);
                padding: 10px;
                border-radius: 5px;
            }
        }
    }
}