.header {
	background: #f8f9ff;
	border-radius: 99px;
	display: flex;
	justify-content: space-between;
	padding: 12px;
	@media (max-width: 992px) {
		flex-direction: column;
	border-radius: 20px;
		gap: 15px;
	}
}

.headerTitle {
	display: flex;
	align-items: center;
	gap: 25px;
}

.headerTitle h2 {
	font-size: 20px;
	font-weight: 600;
}

.header .backBtn {
	width: 48px;
	height: 48px;
	display: grid;
	padding: 0;
	place-content: center;
}

.headerButtons {
    display: flex;
    gap: 10px;
    align-items: center;
	@media (max-width: 992px) {
		flex-direction: column;
		align-items: flex-start;
	}
}
.contButtons{
	display: flex;
	gap: 10px;
	@media (max-width: 992px) {
		flex-wrap: wrap;
	}
}

.headerButtons button {
    width: max-content;
}

.search {
	position: relative;
	background: #e9ecff;
	padding: 18px 23px;
	border-radius: 99px;
	min-width: 318px;
}

.search input {
	width: 100%;
	background: none;
	border: none;
	outline: none;
    font-size: 16px;
}

.search button {
	position: absolute;
	right: 17px;
}
