@import '../../../styles/mixin.scss';

.header {
    //header__container
    &__container{
        background: #F8F9FF;
        padding: 10px;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 99;
        max-width: 100%;
        //header__container--achivments
        &--achivments{
            background: #F8F9FF;
            padding: 20px;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 99;
            max-width: 100%;
            border-radius: 99px;
            margin-top: 80px;
        }
    }
    //header__logo
    &__logo {
        max-height: 43px;
        width: auto;
        //header__logo--achivments
        &--achivments{
            max-height: 43px;
            width: auto;
            position: absolute;
            left: 50%;
            top: -150%;
            transform: translate(-50%, 0%);
        }
    }
    //
    /* margin: 0 auto; */
    /* border-radius: 48px; */
}

.headerCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1;
    /* min-width: 650px; */
    @include adaptiv-value('min-width', 650, 100, 2);

}



.nav {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
}

.nav button {
    white-space: nowrap;
}