@import '../../../styles/mixin.scss';

.inputCont {
	display: grid;
	gap: 12px;
	position: relative;
}

.inputCont > div > input {
	padding: 3px;
	border-radius: 10px;
	border: 1px solid #d6dbf5;
	font-size: 18px;
	@include adaptiv-font(18,14);
	font-weight: 300;
	color: #7b81a0;
	width: 100%;
	background: none;	
}

.inputCont label {
	font-size: 18px;
	@include adaptiv-font(18, 16);
	font-weight: 300;
	color: #000000;
	text-align: center;
}

.inputCont label.error {
	color: var(--color-error);
}

.input{
	&__error{
		//input__error-container
		&-container{
			position: absolute;
			color: red;
			display: inline-block;
			bottom: 0px;
			left: 5%;
		}
	}
}
.inputWrap{
	position: relative;
	display: flex;
}
.error.inputWrap {
	border: 1px solid var(--color-error);
	border-radius: 10px;
}
input:focus {
	outline-color: #726ced;
}
input.error:focus {
	outline-color: var(--color-error);
}

input.error {
}
