@import '../../../styles/mixin.scss';

// -----------------------------
// FEEDS
// -----------------------------
.feeds {
	&__btns-icon-back {
		margin-right: 8px;
		transform: rotate(180deg);
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: -6px;
			left: -6px;
			width: calc(100% + 12px);
			height: calc(100% + 12px);
			border-radius: 50%;
			background: #e9ecff;
			z-index: -1;
		}
	}
}

// -----------------------------
// COLLAPSIBLE BLOCK
// -----------------------------
.collapsible {
	background: #f6f8ff;
	padding: 30px;
	border-radius: 20px;
	height: 100%;
	display: grid;
	grid-template-rows: 0.2fr 0fr 1fr;
	gap: 10px;
	transition: 0.3s;
	align-items: start;

	&--mobile {
		display: flex;
		flex-direction: column-reverse;
		gap: 10px;
		height: 100%;
		align-items: start;
		background: #f6f8ff;
		padding: 30px;
		border-radius: 20px;
		transition: 0.3s;
	}

	&:has(.collapseBody.open) {
		grid-template-rows: 0.2fr 1.5fr 0.1fr;
	}
}

// -----------------------------
// BUTTONS
// -----------------------------
.btn,
.collapseBtn {
	cursor: pointer;

	&:hover {
		cursor: pointer;
	}
}

.btn {
	display: grid;
	place-content: center;
	padding: 0;
	flex: 0 0 40px;
}

.collapseBtn {
	padding: 10px;
	@include adaptiv-font(20, 10);
}

// -----------------------------
// SEARCH CONTAINER
// -----------------------------
.containerSearch {
	display: flex;
	align-items: center;
	position: relative;
	flex: 1 1;
}

.inputactive {
	height: 40px;
	padding: 10px !important;
	padding-right: 35px !important;
}

.iconSearch {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
}

// -----------------------------
// CARD HEADER
// -----------------------------
.cardHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	@include adaptiv-font(20, 10);

	@media (max-width: 1364px) {
		@include adaptiv-font(18, 9);
	}

	@media (max-width: 1264px) {
		@include adaptiv-font(17, 8);
	}

	@media (max-width: 1130px) {
		@include adaptiv-font(16, 7);
	}

	&--mobile {
		flex-direction: row;
		gap: 10px;
		box-shadow: 3px 3px 5px #f0efff66 inset, 0 10px 25px #726ced40;
		padding: 10px 20px;
		border-radius: 99px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		bottom: 0;
	}
}

// -----------------------------
// BUTTON BLOCK
// -----------------------------
.btns {
	display: flex;
	align-items: center;
	gap: 10px;
	flex: 1 1;
	justify-content: flex-end;
	margin-left: 10px;
}

// -----------------------------
// LABELS
// -----------------------------
.label {
	display: flex;
	gap: 10px;
	color: white;
	padding: 10px;
	border-radius: 10px;
	background: #000;
	box-shadow: 3px 3px 5px #f0efff66 inset, 0 10px 25px #00000040;
	transition: 0.3s;
	text-wrap: nowrap;
	@include adaptiv-font(20, 10);

	@media (max-width: 1364px) {
		@include adaptiv-font(18, 9);
	}

	@media (max-width: 1264px) {
		@include adaptiv-font(17, 8);
	}

	@media (max-width: 1130px) {
		@include adaptiv-font(16, 7);
	}

	&--mobile {
		display: flex;
		align-items: baseline;
		gap: 5px;
		@include adaptiv-font(20, 13);
	}
}

// ACTIVE STATE INSIDE COLLAPSIBLE
.collapsible:has(.collapseBody.open) {
	.label {
		background: #726ced;
		box-shadow: 3px 3px 5px #f0efff66 inset, 0 10px 25px #726ced40;
	}

	.label--mobile {
		background: transparent;
		color: #000;
		gap: 10px;
		@include adaptiv-font(20, 10);
	}
}

// -----------------------------
// COLLAPSE BODY
// -----------------------------
.collapseBody {
	position: relative;
	height: calc(100% - 10px);
	overflow: hidden;
	width: 100%;

	&.open::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 45px;
	}
}

.collapseBody>div {
	display: grid;
	grid-template-rows: 0fr;
	transition: 0.3s;

	>* {
		overflow: auto;
		max-height: calc(100vh - 315px);

		&::-webkit-scrollbar {
			width: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #fff;
			background-image: linear-gradient(90deg,
					#726ced 0%,
					#9d80f4 30%,
					#70dcf1 100%);
			border-radius: 99px;
		}

		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}
	}
}

.collapseBody.open>div {
	grid-template-rows: 1fr;
	max-height: 100%;
	overflow: auto;
}