@import '../../../styles/mixin.scss';

.feeds{
	// feeds__btns-icon-back
	&__btns-icon-back {
		margin-right: 8px;
		transform: rotate(180deg);
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: -6px;
			left: -6px;
			width: calc(100% + 12px);
			height: calc(100% + 12px);
			border-radius: 50%;
			background: #E9ECFF;
			z-index: -1;
		}

	}	
}

.collapsible {
	background: #f6f8ff;
	padding: 30px;
	border-radius: 20px;
	height: 100%;
	align-items: start;
	display: grid;
	grid-template-rows: .2fr 0fr 1fr;
	gap: 10px;
	transition: 0.3s;
	&--mobile{
		display: flex;
		flex-direction: column-reverse;
		gap: 10px;
		height: 100%;
		align-items: start;
		background: #f6f8ff;
		padding: 30px;
		border-radius: 20px;
		transition: .3s;
	}
}

.collapsible:has(.collapseBody.open) {
	// grid-template-rows: 42px 1fr 46px;
	grid-template-rows: .2fr 1.5fr .1fr;
	
}

.btn:hover {
	cursor: pointer;
}

.collapseBtn:hover {
	cursor: pointer;
}

.btn {
	width: 40px;
	height: 40px;
	display: grid;
	place-content: center;
	padding: 0;
	flex: 0 0 40px
	
}

.containerSearch{
	display: flex;
	align-items: center;
	position: relative;
	flex: 1 1;
	/* height: 40px;
	width: 180px; */
}

.inputactive {
	height: 40px ;
	padding: 10px !important;
	padding-right: 35px !important;
}

.iconSearch{
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0,-50%);
}

.cardHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	&--mobile{
		flex-direction: row;
		gap: 10px;
		box-shadow: 3px 3px 5px 0 #f0efff66 inset, 0 10px 25px 0 #726ced40;
		padding: 10px 20px;
		border-radius: 99px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		// position: absolute;
		bottom: 0
	}
}

.btns {
	display: flex;
	align-items: center;
	gap: 10px;
	flex: 1 1;
	justify-content: flex-end;
	margin-left: 10px;
}

.label {
	// background: #000;
	box-shadow: 3px 3px 5px 0 #f0efff66 inset, 0 10px 25px 0 #00000040;
	color: white;
	padding: 10px;
	border-radius: 10px;
	transition: 0.3s;
	text-wrap: nowrap;
	display: flex;
	gap: 10px;
	@include adaptiv-font(20,10);
	//label--mobile
	&--mobile{
		display: flex;
		align-items: baseline;
		gap: 5px;
	}
}
.label.active {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* width: 75px; */
	flex: 0 0 75px;
	height: 40px;
	background: #000000 !important;
	box-shadow: 0px 38.503px 96.2576px rgba(0, 0, 0, 0.25), inset 4.85675px 4.85675px 16.1892px #CBCBCB;
	border-radius: 8.503px;

}

.collapsible:has(.collapseBody.open) .label {
	background: #726ced;
	box-shadow: 3px 3px 5px 0 #f0efff66 inset, 0 10px 25px 0 #726ced40;
}

.collapsible:has(.collapseBody.open) .label--mobile {
	background: transparent;
	color: #000;
	display: flex;
	gap: 10px;
	@include adaptiv-font(20, 10);
}

.collapseBtn {
	padding: 10px;
	align-self: end;
	@include adaptiv-font(20,10);

}

.collapseBody {
	position: relative;
		height: calc(100% - 10px);
			overflow: hidden;
			width: 100%;
}
.collapseBody.open::after{
	content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 45px;
	/* затуманивание верхней области */
    /* background: linear-gradient(185.23deg, #F8F9FF 24.2%, rgba(248, 252, 255, 0) 95.82%); */
	/*  + transform для затуманивания нижней области */
	/* transform: rotate(-180deg); */
}


.collapseBody > div {
	display: grid;
	grid-template-rows: 0fr;
	transition: 0.3s;
}

.collapseBody.open > div {
	grid-template-rows: 1fr;
	max-height: 100%;
	overflow: auto;
}

.collapseBody > div > * {
	overflow: auto;
	max-height: calc(100vh - 315px);
}

.collapseBody > div > *::-webkit-scrollbar-thumb {
	background-color: #fff;
	background-image: -webkit-linear-gradient(
		90deg,
		#726ced 0%,
		#9d80f4 30%,
		#70dcf1 100%
	);
	border-radius: 99px;
}

.collapseBody > div > *::-webkit-scrollbar {
	width: 5px;
}

.collapseBody > div > *::-webkit-scrollbar-track {
	background: #f1f1f1;
}
