.text {
    font-family: Manrope;
    font-weight: 300;
    font-size: 12px;
    display: inline-flex;
    justify-content: flex-start;
    color: var(--text-color);
    align-items: center;
    &__icon {
        //text__icon--right
        &--right {
            margin-left: 3px;
            display: flex;
            align-items: center;
        }
    }
}