@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

:root {
    --color-error: #ff0000;
    --bg-color-error: #ff0000;
    --bg-color-block: #726ced;
    --text-color-white: #ffffff;
    --border-color: rgba(170, 167, 206, 1);
    --padding-block: 17px 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background: #edf0ff;
}

#root {
    min-height: 100vh;
    min-height: 100svh;
}

.main-layout {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    min-height: 100vh;
    min-height: 100svh;
    max-height: 100vh;
    max-height: 100svh;
}
.main-layout--children {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    min-height: 100vh;
    min-height: 100svh;
    max-height: 100vh;
    max-height: 100svh;
    padding: 0 70px;
}

.wrapper {
    width: min(1780px, 100% - 30px);
    margin: 0 auto;
    height: 100%;
}

img {
    width: 100%;
    display: block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

#root kbd {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    background: #e9ecff;
    color: black;
    display: inline-block;
    font-weight: 400;
    border-radius: 7px;
}