@use './mixin.scss';
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

:root {
    --color-error: #ff0000;
    --bg-color-error: #ff0000;
    --bg-color-block: #726ced;
    --bg-color-scroll: #726CED;
    --text-color-white: #ffffff;
    --border-color: rgba(170, 167, 206, 1);
    --padding-block: 17px 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background: #edf0ff;
}

#root {
    min-height: 100vh;
    min-height: 100svh;
}

.main-layout {
    // display: grid;
    // grid-template-rows: auto minmax(0, 1fr);
    min-height: 100vh;
    min-height: 100svh;
    max-height: 100vh;
    max-height: 100svh;
    // min-height: 100%;
    // max-height: 100%;
    // display: flex;
    position: relative;
    // border: 1px solid red;
    // overflow: hidden;
    
}
.main-layout--children {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    min-height: 100vh;
    min-height: 100svh;
    max-height: 100vh;
    max-height: 100svh;
    padding: 0 70px;
}

.wrapper {
    // width: min(1780px, 100% - 30px);

    // margin: 0 auto;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    top: 0;
    position: relative;


}

img {
    width: 100%;
    display: block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

#root kbd {
    padding: 10px;
    font-size: 12px;
    text-align: center;
    background: #e9ecff;
    color: black;
    display: inline-block;
    font-weight: 400;
    border-radius: 7px;
}

h1{
    font-weight: 700;
    @include adaptiv-font(36,20);
    // line-height: 49px;
    @include adaptiv-value(line-height, 49, 20, 2);
    color: #1E1E1E;
}

h2{
    font-weight: 700;
    @include adaptiv-font(24,10);
    // line-height: 33px;
    @include adaptiv-value(line-height, 33, 10,2);
    color: #1E1E1E;
    @media (max-width: 778px) {
    @include adaptiv-font(24, 20);        
    }
}

.tool-tip__balance {
    @include adaptiv-font(14, 7);
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    gap: 3px;
}