@import '../../../../../styles/mixin.scss';

.list-player {

    // list-player__container
    &__container {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #F6F8FF;
        border-radius: 25px;
        grid-area: players;
		@include adaptiv-value(padding, 30, 0, 1);
        //list-player__container--mobile
        &--mobile{
            display: flex;
            flex-direction: column;
            position: relative;
            background-color: #F6F8FF;
            background: linear-gradient(to bottom, #F6F8FF 0%, #E9ECFF 100%);
            padding: 30px;
            border-radius: 25px;
            grid-area: players;
		    @include adaptiv-value(padding, 30, 0, 1);
        }
        @media (max-width: 992px) {
            position: absolute;
            z-index: 9999;
            width: calc(100% - 20px);
            min-height: calc(100vh - 120px);
        }
        // list-player__container-wrapper
        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            width: 100%;
            height: 100%;
            list-style: none;
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
    //list-player__item
    &__item {
        width: 100%;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: rgba(233, 236, 255, 0.2);
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: rgba(233, 236, 255, 0.4);
        }
    }
    //list-player__btns-icon
    &__btns-icon {
        margin-right: 8px;
        transform: rotate(180deg);
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: -6px;
            left: -6px;
            width: calc(100% + 12px);
            height: calc(100% + 12px);
            border-radius: 50%;
            background: #E9ECFF;
            z-index: -1;
        }
    }
    //list-player__btn
    &__btn{
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }
    //list-player__btns-container--btn-two
    &__btns-container--btn-two{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr .87fr;
        gap: 20px;
        //list-player__btns-container--btn-two--mobile
        &--mobile{
            background-color: #F8F9FF;
            border-radius: 99px;
            padding: 10px 10px;
            position: absolute;
            bottom: 46px;
            left: 0;
            width: calc(100% - 30px);
            display: grid;
            grid-template-columns: 1fr .87fr;
            gap: 20px;
            margin: 0 15px;
        }
    }
    //list-player__btns-container--full
    &__btns-container--full{
       box-shadow: 0 -15px 24px 6px #F8FCFF;
       z-index: 9;
    }


}