.label {
	/* padding: 10px 20px; */
	background: #e9ecff;
	color: #000000;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 600;
	width: max-content;
}

.label.default {
	padding: 10px 20px;
}
.label.gradient {
	color: white;
	padding: 10px 20px;
	background: linear-gradient(to right, #726ced 0%, #9d80f4 35%, #70dcf1 100%);
	box-shadow: 0 10px 25px 0 #726ced40, 3px 3px 5px 0 #f0efff66 inset;
}
.label.transparent {
	color: #000;
	background: transparent;
	width: auto;
	font-weight: 400;
}

.label.full {
	color: #000;
	width: 100%;
	font-weight: 400;
	line-height: 17px;
	padding: 10px 20px;
}

.label.outline {
	border: 1px solid #d6dbf5;
	padding: 10px 20px;
}

.label.error {
    /* color: #ff0000; */
	color: var(--color-error);
}
.label.title {
    font-family: Manrope;
	padding: 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 24.02px;
}