 @import '../../../../../../../styles/mixin.scss';

 .gib {

    //gib__user-exchange
    &__user-exchange {
         display: grid;
         grid-template-columns: 25px 1fr;
         gap: 10px;
         align-items: center;
         justify-content: center;
         max-height: 32px;
         height: 100%;
         position: relative;

         //gib__user-exchange--container-avatar
         &--container-avatar {
             display: flex;
             overflow: hidden;
             position: relative;
             z-index: 2;
             height: 100%;
             min-height: 32px;
             align-items: center;
             justify-content: center;
         }

         //gib__user-exchange--desc-container
         &--desc-container {
             flex-direction: column;
             display: flex;
             justify-content: center;
             align-items: flex-start;

         }

         //gib__user-exchange--name
         &--name {
             font-family: Manrope;
             font-weight: 700;
             @include adaptiv-font(11, 7);
             line-height: 100%;
             letter-spacing: 0%;
             vertical-align: middle;
             color: rgba(0, 0, 0, 1);
             display: flex;
             align-items: center;
             @include line-clamp(1, vertical);
             //gib__user-exchange--name-desc
             &-desc {
                 font-family: Manrope;
                 font-weight: 300;
                 @include adaptiv-font(11, 7);
                 line-height: 100%;
                 letter-spacing: 0%;
                 vertical-align: middle;
                 color: rgba(0, 0, 0, 1);
                 display: flex;
                 align-items: center;
                 @include line-clamp(1, vertical);
             }
         }


         &--input{
             //gib__user-exchange--input-success
            &-success {
             position: absolute;
             right: -1px;
             top: -1px;
             background-color: #000;
             border-radius: 5px;
             padding: 4px;
             //gib__user-exchange--input-currency
             &-currency {
                 position: absolute;
                 right: 0px;
                 top: 50%;
                 transform: translate(0, -50%);
             }
             //gib__user-exchange--input-reset
             &-reset {
                 position: absolute;
                 right: -30px;
                 top: -2px;
                 background-color: #000;
                 border-radius: 5px;
                 padding: 3px;
             }
            }
        }


         //gib__user-exchange--input-container
         &--input-container {
             display: flex;
             align-items: center;
             gap: 5px;
             width: 100%;
             position: relative;

             // gib__user-exchange--input-container-input
             &-input {
                 width: 100%;
                 height: 24px;
                 border-radius: 7px;
                 border: 1px solid rgba(129, 138, 184, 1);
                 display: flex;
                 padding: 2px;
                 font-size: 14px;
                 font-weight: 500;
                 color: #000000;
                 background-color: transparent;
                 position: relative;

                 &>div>input {
                     border: none;
                     outline: none;
                     width: 100%;
                     height: 100%;
                     background-color: transparent;
                     padding: 0 !important;
                 }

                 &::placeholder {
                     font-family: Manrope;
                     font-weight: 300;
                     font-style: Light;
                     font-size: 10.63px;
                     line-height: 100%;
                     letter-spacing: 0%;
                     vertical-align: middle;
                 }
             }
         }
        //gib__user-exchange--total-price
        &--total-price {
            display: flex;
            align-items: center;
            font-family: Manrope;
            font-weight: 300;
            font-style: Light;
            font-size: 10.63px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            gap: 5px;
        }
        //gib__user-exchange-container--total-price
        &-container--total-price {
            margin-top: 50px;
        }
    }

     //gib__info-card-exchange-container 
     &__info-card-exchange-container {
         display: flex;
         flex-direction: column;
         gap: 5px;
     }

     //gib__info-card-exchange-card-container
     &__info-card-exchange-card-container {
         justify-content: space-between;
         display: flex;
         align-items: center;
         flex-direction: row;
         width: 100%;
         padding: 5px 10px;
         background-color: rgba(0, 0, 0, 1); //
         color: rgba(250, 251, 255, 1);
         border-radius: 7px;
         overflow: hidden;
         min-height: 31px;

         &>div {
             display: flex;
             align-items: center;
             flex-direction: row;
             gap: 5px;
             padding-right: 2px;
             font-family: Manrope;
             font-weight: 300;
             font-style: Light;
             font-size: 10.63px;
             @include adaptiv-font(10.63, 5);
             line-height: 100%;
             letter-spacing: 0%;
             vertical-align: middle;
         }

     }

    
 }

 .list-player {

     //list-player__container-wrapper
     &__container-wrapper {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 10px;
         width: 100%;
         height: 100%;
         list-style: none;
         position: relative;
         overflow-x: hidden;
         overflow-y: auto;
        /* WebKit (Chrome, Safari) */
            &::-webkit-scrollbar {
                width: 0px;
                opacity: 0;
            }
        
            &::-webkit-scrollbar-thumb {
                background-color: transparent;
                transition: background-color 0.3s;
            }
        
            &:hover::-webkit-scrollbar-thumb {
                background-color: var(--bg-color-scroll);
            }
        
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
        
            /* Firefox */
            &* {
                scrollbar-width: thin;
                scrollbar-color: var(--bg-color-scroll) transparent;
            }
     }

     //list-player__item
     &__item {
         width: 100%;
        //  height: 65px;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         background-color: rgba(233, 236, 255, 0.2);
         border-radius: 10px;
         cursor: pointer;

         &:hover {
             background-color: rgba(233, 236, 255, 0.4);
         }
     }
 }