.profile__container{
    margin: 50px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.profile__field-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    gap: 30px;
    @media (max-width: 1280px) {
        display: flex;
        flex-direction: column;

    }
}