.form-input-create-quick-game{
    //form-input-create-quick-game__container
    &__container{
        display: flex;
        background-color: #fff;
        
        //form-input-create-quick-game__container-wrap
        &-wrap{
            border-radius: 16px;
            padding: 20px;
            background-color: #E9ECFF;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        //form-input-create-quick-game__container-wrap-submit
        &-wrap-submit{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 20px;
        }
    }
}