.labels {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cardBody {
	display: grid;
	gap: 12px;
	margin-top: 25px;
}

.inputs {
	display: grid;
	gap: 10px;
	margin-bottom: 10px;
}
