.containerBurger {
    display: flex;
    /* min-width: 400px; */
    gap: 20px;
    align-items: center;
}

.menu__container-wrap{
    min-width: 210px;
    min-height: 50px;
    // padding: 5px;
    background-color: #E9ECFF;
    border-radius: 99px;
    position: relative;
}

.menu__container-inner{
    display: flex;
    align-items: center;
}

.burger {
    //.burger__container
    &__container{
        position: relative;
        min-width: 50px;
        & .active{
            min-width: 175px;
        }
    }
    //burger__menu-container
    &__menu-container {
        position: absolute;
        left: 0px;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(0px);
        /* лучше использовать transform вместо top */
        transition: opacity 0.5s ease, transform 0.5s ease;
        
        &.active {
            transition: opacity 0.5s ease, transform 0.5s ease;
            opacity: 1;
            visibility: visible;
            transform: translateY(30px);
            background-color: #D6DBF5;
            border-radius: 0 0 25px 25px;
            padding: 25px 12px;
            z-index: -1;
        }
    }
    //burger__btn
    &__btn {
        min-width: 50px;
        min-height: 50px;
        max-width: 50px;
        max-height: 50px;
        background-color: #E9ECFF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        // padding: 10px;
        z-index: 11;

        >span {
            width: 40%;
            height: 1px;
            background-color: #000;
            position: relative;

            &::after,
            &::before {
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #000;
                content: '';
                left: 0;

            }

            &::after {
                top: -6px;
            }

            &::before {
                bottom: -6px;
            }
        }

        //burger__btn--active
        &--active {
            min-width: 50px;
            min-height: 50px;
            max-width: 50px;
            max-height: 50px;
            // background-color: #E9ECFF;
            // border-radius: 50%;
            border-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 10px;
            z-index: 11;
            transition: all .3s ;
            &::after{
                transition: width 2.3s ;
                position: absolute;
                content: '';
                width: 200px;
                height: 100%;
                background-color: #E9ECFF;
                border-radius: 25px;
                z-index: -1;
                left: 0;
            }
            .burgerInfo{
                position: absolute;
                left: 45px;
            }
            >span {
                width: 90%;
                height: 0px;
                background-color: #000;
                position: relative;
                transition: transform .5s;

                &::after,
                &::before {
                    position: absolute;
                    opacity: 1;
                    width: 70%;
                    height: 2px;
                    background-color: #000;
                    content: '';
                    left: 0;

                }

                &::after {
                    // top: -6px;
                    transform: rotate(45deg) translate(0px, 0px);
                }

                &::before {
                    bottom: -6px;
                    transform: rotate(-45deg) translate(3px, -2px);
                }
            }
        }
    }



}

.menu__sub-menu-container{
    position: absolute;
    top: 50%;
    background-color: #d6dbf5; 
    width: 100%;
    padding: 50px 20px 20px;
    z-index: -10;
    border-radius: 0 0 20px 20px;
    // bottom: 0;
    left: 0px;
}

.itemMenu{
    cursor: pointer;
    padding-left: 25px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #000;
        transform: translateY(-50%);
    }
}

.itemMenu.active{
    font-weight: 600;
    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: var(--bg-color-block);
        border: 1px solid var(--bg-color-block);
        border: none;
        transform: translateY(-50%);
    }
} 

.labelPage{
    font-family: Manrope;
    font-weight: 600;
    font-size: 13.36px;
    line-height: 18.25px;
    background-color: var(--bg-color-block);
    color: var(--text-color-white);
    padding: var(--padding-block);
    white-space: nowrap;
    border-radius: 22px;
}