.containerWrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    // padding: 0 40px;
    &.scroll{
        overflow-y: auto;   
    }
}

.containerMobileWrapper {
    // padding: 0 0 75px;
    overflow-y: auto;
    position: relative;
    height: 100%;
    &.shadowBottom{
        &::after{
            position: absolute;
            content: '';
            // box-shadow: inset 0 -50px 50px 0 #000;
            left: 0;
            bottom: 51px;
            width: 100%;
            height: 35%;
            background-color: #ffffffa6;
        }
    }
}