.auctioCard {
	border-radius: 20px;
	overflow: hidden;
	background: #f8f9ff;
}

.imgcont {
	position: relative;
}

.imgcont img {
	width: 100%;
	object-fit: cover;
}

.imgHeader {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	background: linear-gradient(to right, #e471a9, #8b79d0);
	display: flex;
	align-items: center;
	border-radius: 10px;
	color: #ffffff;
}

.imgHeader .time {
	border-radius: 10px;
	padding: 8px 20px;
	background: linear-gradient(to right, #9e87f0, #ff7ebc);
	font-size: 13px;
}

.imgHeader .auctionType {
	padding: 0 12px;
	font-size: 13px;
}

.cardTitle {
	position: absolute;
	bottom: 0;
	padding: 13px 0;
	width: 100%;
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;
	background: #f8f9ffcc;
	backdrop-filter: blur(4px);
	text-align: center;
}

.cardBody {
	padding: 16px;
}

.cardLabels {
	display: grid;
	gap: 8px;
	margin-bottom: 25px;
}

.cardLabel {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	border: 0.5px solid #bcbcbc;
	border-radius: 10px;
}

.labelTitle {
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
}

.labelValue {
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
}

.cardsBtns {
	display: grid;
	grid-template-columns: 1fr;
	gap: 8px;
}

.cardsBtns button {
	padding: 12px;
	font-size: 12px;
	font-weight: 600;
}

.depositInfo {
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
	color: #00000080;
	text-align: center;
}
