@import '../../../styles/mixin.scss';

.game-board {
	/* width: 100%;
	max-height: 100%; */
	// height: 100%;
	position: relative;
	aspect-ratio: 1 / 1;
	background: #f8f9ff;
	border-radius: 25px;
	position: relative;
	@media (max-width: 600px) {
			height: auto;
			width: 100%;
	}
	//game-board__info
	&__info{
    	width: 58.11%; /// ????????????????????
		// @include adaptiv-value(width,58.11, 50, 3);
		aspect-ratio: 1 / 1;
		// background: #ffffff;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		overflow: hidden;
		z-index: 1;

		//game-board__info--mobile
		&--mobile{
			position: fixed;
			bottom: 100px;
			width: 100%;
			z-index: 998;
			max-width: 100%;
			left: 0;
			width: 100%;
			border: 1px solid #092bb0;
			border-radius: 35px 35px 0 0;
			max-height: 120px;
			overflow: hidden;
		}
  }
}

.jail-grid {
	display: grid;
		// grid-template-columns: repeat(12, 1fr);
		// grid-template-rows: repeat(12, 1fr);
		grid-template-areas:
			'visited visited jail jail jail jail'
			'visited visited jail jail jail jail'
			'visited visited jail jail jail jail'
			'visited visited jail jail jail jail'
			;
		position: relative;
		width: 100%;
		height: 100%;
}
.jail__player-sticker-container{
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
	align-content: flex-end;
	justify-content: flex-start;
	width: 100%;
	aspect-ratio: 1 / 1;
	padding: 1px;
	box-sizing: border-box;
	gap: 4px;
	overflow: hidden;
	grid-area: visited;
	position: relative;
}
.jail__player-sticker-concluded-container {
	// border: 1px solid red;
	// width: 100%;
	// height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	display: flex;
	// flex-wrap: wrap-reverse;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 5px;
	width: 80%;
	height: 80%;
	border-left: 2px solid #a6a6a6;
	border-bottom: 2px solid #a6a6a6;
	border-radius: 0 0 0 14px;
	align-items: flex-end;
	&--isconcluded{
	}
}

.jail__text-visited--bottom{
	position: absolute;
	width: 100%;
	left: 30%;
	bottom: 4%;
	letter-spacing: 3px;
	font-weight: 900;
	font-family: Manrope;
	@include adaptiv-font(16,8);
	@media (max-width: 1400px) {
	left: 20%;
	}
}
.jail__text-visited--left{
	position: absolute;
	width: 100%;
	// right: 4%;
	left: 4%;
	bottom: 40%;
	writing-mode: vertical-rl;
		/* или vertical-lr */
	text-orientation: mixed;
	display: flex;
	align-items: flex-end;
	letter-spacing: 3px;
	font-weight: 900;
	font-family: Manrope;
	@include adaptiv-font(16, 10);
}

.field {
	width: 20.94%;
	// @include adaptiv-value(width,20.94, 25, 3);

	aspect-ratio: 1 / 1;
	background: transparent;
	position: absolute;
	// background: white;
	background-size: 50%;
	background-repeat: no-repeat;
	// background-color: #E7EFFD;

	//field__round-container
	&__round-container {
		display: grid;
		justify-content: center;
		justify-items: center;
		@include adaptiv-value(gap,12, 0, 1);
	}
	//field__circle
	&__circle{
		// padding-top: 10%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	//field__btn-round
	&__btn-round{
		@include adaptiv-value(padding-top,14, -5, 1);
		@include adaptiv-value(padding-bottom,14, -5, 1);
		@include adaptiv-value(padding-left,25, 0, 1);
		@include adaptiv-value(padding-right,25, 0, 1);
		@include adaptiv-font(20,10);
	}
	//field__btn-round-title
	&__btn-round-title{
		@include adaptiv-font(14,6);
		font-weight: 800;
	}
}

.field.leftTop {
	top: 0;
	left: 0;
	border-top-left-radius: 20%;
}

.field.rightTop {
	top: 0;
	right: 0;
	border-top-right-radius: 20%;
}

.field.leftBottom {
	left: 0;
	bottom: 0;
	border-bottom-left-radius: 20%;
}

.field.rightBottom {
	bottom: 0;
	right: 0;
	border-bottom-right-radius: 20%;
	// margin-top: -4px;
}

.corner {
	width: 13.66%;
	position: absolute;
	aspect-ratio: 1 / 1;
}

.corner.rightTop {
	left: 0;
	bottom: 0;
	border-radius: 0 80% 0 0 ;
}

.corner.leftTop {
	bottom: 0;
	right: 0;
	border-radius: 80% 0 0 0 ;
}

.corner.rightBottom {
	left: 0;
	top: 0;
	border-radius: 0 0 80% 0;
}
.corner.leftBottom {
	right: 0;
	top: 0;
	border-radius: 0 0 0 80%;
}


.jailImg {
	position: absolute;
	left: 10%;
	bottom: 10%;
	width: 80%;
	height: 64.5%;
}

.police {
	position: absolute;
	top: 15%;
	right: 15%;
	width: 70%;
	height: 85%;
}

.park {
	position: absolute;
	top: 15%;
	right: 15%;
	width: 70%;
	height: 85%;
}

.park img {
	width: 60%;
	margin: 0 auto;
}

.park p {
	font-size: 13px;
	font-weight: 300;
	text-align: center;
}

.police img {
	width: 50%;
	margin: 0 auto;
}

.police p {
	font-size: 13px;
	font-weight: 300;
	text-align: center;
}

.players{
	//players__container
	&__container{
		position: absolute;
		gap: 0px;
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: repeat(3, 1fr);
		@media (max-width: 975px) {
			grid-template-rows: repeat(2, 1fr);
		}
		@media (max-width: 668px) {
			grid-template-rows: repeat(1, 1fr);
		}
		// width: 100%;
		&--1{
			grid-template-rows: repeat(1, 1fr);
		}
		&--2{
			grid-template-rows: repeat(2, 1fr);
		}
		//players__container--left
		&--left{
			justify-content: start;
			left: 3px;
		}
		// //players__container--right
		&--right{
			right: 3px;
			justify-content: start;
		}
		//players__container--bottom
		&--bottom{
			transform: rotate(180deg);
			grid-auto-flow: row;
			grid-template-columns: repeat(3, 1fr);
			bottom: 3px;
		}
		//players__container--top
		&--top{
			grid-auto-flow: row;
			grid-template-columns: repeat(3, 1fr);
			top: 3px;
		}
		&--reverse {
			direction: rtl;
		}
	}

	//players__sticker
	&__sticker{
		// @include adaptiv-value(width,19, 0, 1);
		// @include adaptiv-value(height,19, 0, 1);
		width: 15px;
		height: 15px;
		border-radius: 50%;
		position: relative;
		z-index: 10;
		margin: 1px;
		// border: 2px solid #FAFBFF;
    }
}

