@import '../../../styles/mixin.scss';

// .game-board {
// 	/* width: 100%;
// 	max-height: 100%; */
// 	// height: 100%;
// 	position: relative;
// 	aspect-ratio: 1 / 1;
// 	background: #f8f9ff;
// 	border-radius: 25px;
// 	position: relative;
// 	@media (max-width: 600px) {
// 			height: auto;
// 			width: 100%;
// 	}
// 	//game-board__info
// 	&__info{
//     	width: 58.11%; /// ????????????????????
// 		// @include adaptiv-value(width,58.11, 50, 3);
// 		aspect-ratio: 1 / 1;
// 		// background: #ffffff;
// 		position: absolute;
// 		left: 50%;
// 		top: 50%;
// 		transform: translate(-50%, -50%);
// 		overflow: hidden;
// 		z-index: 1;

// 		//game-board__info--mobile
// 		&--mobile{
// 			position: fixed;
// 			bottom: 100px;
// 			width: 100%;
// 			z-index: 998;
// 			max-width: 100%;
// 			left: 0;
// 			width: 100%;
// 			border: 1px solid #092bb0;
// 			border-radius: 35px 35px 0 0;
// 			max-height: 120px;
// 			overflow: hidden;
// 		}
//   	}

// 	// ---------------------------------
// 	//game-board__field--bottom
// 	&__field--bottom{
// 		display: grid;
// 		grid-auto-flow: column;
// 		grid-template-columns: 3fr repeat(9, 1fr) 3fr;
// 		grid-template-areas:
//     "prisoner b1 b2 b3 b4 b5 b6 b7 b8 b9 circle";
// 		// height: 20.5%;
// 	}
// 	//game-board__field--left
// 	&__field--left{
// 		display: grid;
// 		grid-auto-flow: row;
// 		grid-template-rows: 3fr repeat(9, 1fr);
// 		grid-template-areas:
// 	"parking"
// 	"b1"
// 	"b2"
// 	"b3"
// 	"b4"
// 	"b5"
// 	"b6"
// 	"b7"
// 	"b8"
// 	"b9"
// 	"prisoner";
// 		// width: 20.5%;
// 		// gap: 40px;
// 	}
// }
.game-board {
	aspect-ratio: 1 / 1;
	background: #f8f9ff;
	border-radius: 25px;
	position: relative;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(15, 1fr);
	grid-template-areas: 
	"parking parking parking t1 t2 t3 t4 t5 t6 t7 t8 t9 police police police"
	"parking parking parking t1 t2 t3 t4 t5 t6 t7 t8 t9 police police police"
	"parking parking parking t1 t2 t3 t4 t5 t6 t7 t8 t9 police police police"
	"l9 l9 l9 info info info info info info info info info r1 r1 r1"
	"l8 l8 l8 info info info info info info info info info r2 r2 r2"
	"l7 l7 l7 info info info info info info info info info r3 r3 r3"
	"l6 l6 l6 info info info info info info info info info r4 r4 r4"
	"l5 l5 l5 info info info info info info info info info r5 r5 r5"
	"l4 l4 l4 info info info info info info info info info r6 r6 r6"
	"l3 l3 l3 info info info info info info info info info r7 r7 r7"
	"l2 l2 l2 info info info info info info info info info r8 r8 r8"
	"l1 l1 l1 info info info info info info info info info r9 r9 r9"
	"jail jail jail b9 b8 b7 b6 b5 b4 b3 b2 b1 circle circle circle"
	"jail jail jail b9 b8 b7 b6 b5 b4 b3 b2 b1 circle circle circle"
	"jail jail jail b9 b8 b7 b6 b5 b4 b3 b2 b1 circle circle circle";
	border: none;
	gap: 0;
	@media (max-width: 600px) {
			height: auto;
			width: 100%;
	}
}
.card__container{
	&[data-pos="2"] { grid-area: b1; }
	&[data-pos="3"] { grid-area: b2; }
	&[data-pos="4"] { grid-area: b3; }
	&[data-pos="5"] { grid-area: b4; }
	&[data-pos="6"] { grid-area: b5; }
	&[data-pos="7"] { grid-area: b6; }
	&[data-pos="8"] { grid-area: b7; }
	&[data-pos="9"] { grid-area: b8; }
	&[data-pos="10"] { grid-area: b9; }

	&[data-pos="12"] { grid-area: l1; }
	&[data-pos="13"] { grid-area: l2; }
	&[data-pos="14"] { grid-area: l3; }
	&[data-pos="15"] { grid-area: l4; }
	&[data-pos="16"] { grid-area: l5; }
	&[data-pos="17"] { grid-area: l6; }
	&[data-pos="18"] { grid-area: l7; }
	&[data-pos="19"] { grid-area: l8; }
	&[data-pos="20"] { grid-area: l9; }

	&[data-pos="22"] { grid-area: t1; }
	&[data-pos="23"] { grid-area: t2; }
	&[data-pos="24"] { grid-area: t3; }
	&[data-pos="25"] { grid-area: t4; }
	&[data-pos="26"] { grid-area: t5; }
	&[data-pos="27"] { grid-area: t6; }
	&[data-pos="28"] { grid-area: t7; }
	&[data-pos="29"] { grid-area: t8; }
	&[data-pos="30"] { grid-area: t9; }

	&[data-pos="32"] { grid-area: r1; }
	&[data-pos="33"] { grid-area: r2; }
	&[data-pos="34"] { grid-area: r3; }
	&[data-pos="35"] { grid-area: r4; }
	&[data-pos="36"] { grid-area: r5; }
	&[data-pos="37"] { grid-area: r6; }
	&[data-pos="38"] { grid-area: r7; }
	&[data-pos="39"] { grid-area: r8; }
	&[data-pos="40"] { grid-area: r9; }
	border: 0;
	// border: 1px solid blue;
	position: relative;
	// /
	// card__container--circle
	&--circle {
		grid-area: circle; 
		position: relative;
	}
	// card__container--jail
	&--jail {
		grid-area: jail; 
		position: relative;
	}
	// card__container--parking
	&--parking {
		grid-area: parking; 
		position: relative;
	}
	//card__container--police
	&--police {
		grid-area: police; 
		position: relative;
	}
		
}

.jail-grid {
	display: grid;
		grid-template-areas:
			'visited visited jail jail jail jail'
			'visited visited jail jail jail jail'
			'visited visited jail jail jail jail'
			'visited visited jail jail jail jail'
			;
		position: relative;
		width: 100%;
		height: 100%;
}
.jail__player-sticker-container{
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: row-reverse;
	align-content: flex-end;
	justify-content: flex-start;
	width: 100%;
	aspect-ratio: 1 / 1;
	padding: 1px;
	box-sizing: border-box;
	gap: 4px;
	overflow: hidden;
	grid-area: visited;
	position: relative;
}
.jail__player-sticker-concluded-container {
	// border: 1px solid red;
	// width: 100%;
	// height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	display: flex;
	// flex-wrap: wrap-reverse;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 5px;
	width: 80%;
	height: 80%;
	border-left: 2px solid #a6a6a6;
	border-bottom: 2px solid #a6a6a6;
	border-radius: 0 0 0 14px;
	align-items: flex-end;
	&--isconcluded{
	}
}

.jail__text-visited--bottom{
	position: absolute;
	width: 100%;
	left: 30%;
	bottom: 4%;
	letter-spacing: 3px;
	font-weight: 900;
	font-family: Manrope;
	@include adaptiv-font(16,8);
	@media (max-width: 1400px) {
	left: 20%;
	}
}
.jail__text-visited--left{
	position: absolute;
	width: 100%;
	// right: 4%;
	left: 4%;
	bottom: 40%;
	writing-mode: vertical-rl;
		/* или vertical-lr */
	text-orientation: mixed;
	display: flex;
	align-items: flex-end;
	letter-spacing: 3px;
	font-weight: 900;
	font-family: Manrope;
	@include adaptiv-font(16, 10);
}

.field {
	// width: 20.94%;
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
	background: transparent;
	position: absolute;
	background-size: 50%;
	background-repeat: no-repeat;

	//field__round-container
	&__round-container {
		display: grid;
		justify-content: center;
		justify-items: center;
		@include adaptiv-value(gap,12, 0, 1);
	}
	//field__circle
	&__circle{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	//field__btn-round
	&__btn-round{
		@include adaptiv-value(padding-top,14, -5, 1);
		@include adaptiv-value(padding-bottom,14, -5, 1);
		@include adaptiv-value(padding-left,25, 0, 1);
		@include adaptiv-value(padding-right,25, 0, 1);
		@include adaptiv-font(20,10);
	}
	//field__btn-round-title
	&__btn-round-title{
		@include adaptiv-font(14,6);
		font-weight: 800;
	}
}

.corner {
	width: 13.66%;
	position: absolute;
	aspect-ratio: 1 / 1;
	&.rightTop {
		left: 0;
		bottom: 0;
		border-radius: 0 80% 0 0 ;
	}
	&.leftTop {
		bottom: 0;
		right: 0;
		border-radius: 80% 0 0 0 ;
	}
	&.rightBottom {
		left: 0;
		top: 0;
		border-radius: 0 0 80% 0;
	}
	&.leftBottom {
		right: 0;
		top: 0;
		border-radius: 0 0 0 80%;
	}

}

.jailImg {
	position: absolute;
	left: 10%;
	bottom: 10%;
	width: 80%;
	height: 64.5%;
}

.police {
	position: absolute;
	top: 15%;
	right: 15%;
	width: 70%;
	height: 85%;
}

.park {
	position: absolute;
	top: 15%;
	right: 15%;
	width: 70%;
	height: 85%;
}

.park img {
	width: 60%;
	margin: 0 auto;
}

.park p {
	font-size: 13px;
	font-weight: 300;
	text-align: center;
}

.police img {
	width: 50%;
	margin: 0 auto;
}

.police p {
	font-size: 13px;
	font-weight: 300;
	text-align: center;
}

.players{
	//players__container
	&__container{
		position: absolute;
		gap: 0px;
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: repeat(3, 1fr);
		transform: scale(.75);
		// height: 100%;
		@media (max-width: 975px) {
			grid-template-rows: repeat(2, 1fr);
		}
		@media (max-width: 668px) {
			grid-template-rows: repeat(1, 1fr);
		}
		// width: 100%;
		&--1{
			grid-template-rows: repeat(1, 1fr);
		}
		&--2{
			grid-template-rows: repeat(2, 1fr);
		}
		//players__container--left
		&--left{
			justify-content: start;
			left: 3px;
		}
		// //players__container--right
		&--right{
			right: 3px;
			justify-content: start;
		}
		//players__container--bottom
		&--bottom{
			// transform: rotate(180deg);
			grid-auto-flow: row;
			grid-template-columns: repeat(3, 1fr);
			direction: rtl;
			align-content: end;
			@media (max-width: 975px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: 668px) {
				grid-template-columns: repeat(1, 1fr);
			}
			bottom: 3px;
		}
		//players__container--top
		&--top{
			grid-auto-flow: row;
			grid-template-columns: repeat(3, 1fr);
			@media (max-width: 975px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: 668px) {
				grid-template-columns: repeat(1, 1fr);
			}
			top: 3px;
		}
		&--reverse {
			direction: rtl;
		}
	}

	//players__sticker
	&__sticker{
		// @include adaptiv-value(width,15, 0, 1);
		// @include adaptiv-value(height,15, 0, 1);
		border-radius: 50%;
		position: relative;
		z-index: 10;
		margin: 1px;
		display: flex;
		align-items: center;
		justify-content: center;
		// @media (max-width:1280px) {
		// 	@include adaptiv-value(width,12, 0, 1);
		// 	@include adaptiv-value(height,12, 0, 1);
		// }
		// @media (max-width:1160px) {
        //     @include adaptiv-value(width,10, 0, 1);
        //     @include adaptiv-value(height,10, 0, 1);
        // }
		// // border: 2px solid #FAFBFF;
		// @media (max-width:992px) {
		// 	@include adaptiv-value(width,15, 15, 1);
		//     @include adaptiv-value(height,15, 15, 1);
		// }
    }
}

