.ruleCards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 34px;
	margin-bottom: 60px;
	@media (max-width:992px) {
		grid-template-columns: 1fr;
	}
}

.icon {
	max-width: 50px;
	filter: drop-shadow(0 4px 25px #0000001a);
}

.quickGameCard {
	display: grid;
	grid-template-columns: 5fr 2fr;
	align-items: center;
	gap: 50px;
	@media (max-width: 1280px) {
		display: flex;
		flex-direction: column;
	}
}

.ruleCardHeader {
	display: flex;
	align-items: center;
	gap: 18px;
	margin-bottom: 35px;
	
}

.ruleCardHeader h3 {
	font-size: 25px;
	font-weight: 600;
}

.info {
	font-size: 20px;
	padding-left: 88px;
	display: grid;
	gap: 30px;
}

.ruleCardImgCont {
	position: relative;
	@media (max-width: 1280px) {
		width: 30%;
	}
}

.ruleCardImgCont a {
	position: absolute;
	text-align: center;
	width: 100%;
	padding: 15px;
	top: 50%;
	transform: translateY(-50%) translateX(-30%);
	@media (max-width: 1280px) {
		min-width: 250px;
	}
}
