.blockGrid{
    display: grid;
    position: relative;
    
}

.container__wrapper{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px 250px;
    height: 100%;
    position: relative;
    z-index: 10;
    &.mobile{
        padding: 0 10px 0px;
    }
    &.without-bottom-indent {
        padding: 0 40px 0px;
        @media (max-width: 992px) {
            padding: 10px 10px 0px;    
        }
    }
}