.bottom-sheet {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 200px;
    height: 65%;
    /* высота открытой панели */
    background: rgb(198 201 219);
    border-radius: 35px 35px 0 0;
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.15);
    z-index: 998;
    transform: translateY(100%);
    /* по умолчанию скрыта */
    touch-action: none;
    /* чтобы не мешал скролл страницы */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}