.line{
  //line__horizontal
  &__horizontal{
    width: 100%;
    height: 1px;
    background-color: #D6DBF5;
    position: relative;
  }
  // line__vertical
  
  &__vertical{
      // line__vertical--center
      &--center{
        position: absolute;
        top: 0;
        left: 51%;
        width: 1px;
        height: 100%;
        background-color: rgba(214, 219, 245, 1);
      }

    } 
}