.preloader{
    //preloader__cont
    &__cont{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    //preloader__body-icon
    &__body-icon{
        width: 150px;
        height: 150px;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}